In [1]:
#Importing required modules.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Model-1

In [20]:
# Loding Flipkart dataset.

flp_df=pd.read_csv("D:\downlods/flipkart_com-ecommerce_sample.csv")
flp_df.head(2)

,uniq_id,crawl_timestamp,product_url,product_name,product_category_tree,pid,retail_price,discounted_price,image,is_FK_Advantage_product,description,product_rating,overall_rating,brand,product_specifications
0,c2d766ca982eca8304150849735ffef9,2016-03-25 22:59:23 +0000,http://www.flipkart.com/alisha-solid-women-s-c...,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",SRTEH2FF9KEDEFGF,999.0,379.0,"[""http://img5a.flixcart.com/image/short/u/4/a/...",False,Key Features of Alisha Solid Women's Cycling S...,No rating available,No rating available,Alisha,"{""product_specification""=>[{""key""=>""Number of ..."
1,7f7036a6d550aaa89d34c77bd39a5e48,2016-03-25 22:59:23 +0000,http://www.flipkart.com/fabhomedecor-fabric-do...,FabHomeDecor Fabric Double Sofa Bed,"[""Furniture >> Living Room Furniture >> Sofa B...",SBEEH3QGU7MFYJFY,32157.0,22646.0,"[""http://img6a.flixcart.com/image/sofa-bed/j/f...",False,FabHomeDecor Fabric Double Sofa Bed (Finish Co...,No rating available,No rating available,FabHomeDecor,"{""product_specification""=>[{""key""=>""Installati..."

In [3]:
# Loding Amazon dataset.

amz_df=pd.read_csv("D:\downlods/amz_com-ecommerce_sample.csv",encoding= 'unicode_escape')

In [4]:
# Display column_headers in Amazon dataset.

amz_df.columns

Index(['uniq_id', 'crawl_timestamp', 'product_url', 'product_name',
       'product_category_tree', 'pid', 'retail_price', 'discounted_price',
       'image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'],
      dtype='object')

In [5]:
# Display column_headers in flipkart dataset.

flp_df.columns

Index(['uniq_id', 'crawl_timestamp', 'product_url', 'product_name',
       'product_category_tree', 'pid', 'retail_price', 'discounted_price',
       'image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'],
      dtype='object')

In [6]:
# Sliceing the requires columns in flipkart dataset.

flp_df = flp_df[["product_name","retail_price","discounted_price","pid"]]
flp_df.head()

,product_name,retail_price,discounted_price,pid
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,SRTEH2FF9KEDEFGF
1,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0,SBEEH3QGU7MFYJFY
2,AW Bellies,999.0,499.0,SHOEH4GRSUBJGZXE
3,Alisha Solid Women's Cycling Shorts,699.0,267.0,SRTEH2F6HUZMQ6SJ
4,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0,PSOEH3ZYDMSYARJ5

In [7]:
# Sliceing the requires columns in Amazon dataset.

amz_df = amz_df[["product_name","retail_price","discounted_price","pid"]]
amz_df.head()

,product_name,retail_price,discounted_price,pid
0,Alisha Solid Women's Cycling Shorts,982,438,SRTEH2FF9KEDEFGF
1,FabHomeDecor Fabric Double Sofa Bed,32143,29121,SBEEH3QGU7MFYJFY
2,AW Bellies,991,551,SHOEH4GRSUBJGZXE
3,Alisha Solid Women's Cycling Shorts,694,325,SRTEH2F6HUZMQ6SJ
4,Sicons All Purpose Arnica Dog Shampoo,208,258,PSOEH3ZYDMSYARJ5

In [8]:
# Merging the flipkart and Amazom slice datasets.

df = flp_df.merge(amz_df,left_on="pid",right_on="pid",how="left")

In [9]:
# Renaming the column Names.

df=df.rename(columns={"product_name_x":"Product name in Flipkart","product_name_y":"Product name in Amazon","retail_price_x":"Retail Price in Flipkart","retail_price_y":"Retail Price in Amazon",
                                "discounted_price_x":"Discounted Price in Flipkart","discounted_price_y":"Discounted Price in Amazon"}).drop("pid",axis=1)

In [10]:
df.head()

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,982,438
1,FabHomeDecor Fabric Double Sofa Bed,32157.0,22646.0,FabHomeDecor Fabric Double Sofa Bed,32143,29121
2,AW Bellies,999.0,499.0,AW Bellies,991,551
3,Alisha Solid Women's Cycling Shorts,699.0,267.0,Alisha Solid Women's Cycling Shorts,694,325
4,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0,Sicons All Purpose Arnica Dog Shampoo,208,258

In [11]:
# Defining a function for product name.

def find(x):
    req=df[df["Product name in Amazon"] == x]
    return req

In [13]:
prod_name=input("enter product name : ")
find(prod_name)

enter product name : Alisha Solid Women's Cycling Shorts

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,982,438
3,Alisha Solid Women's Cycling Shorts,699.0,267.0,Alisha Solid Women's Cycling Shorts,694,325
6,Alisha Solid Women's Cycling Shorts,1199.0,479.0,Alisha Solid Women's Cycling Shorts,1198,602
9,Alisha Solid Women's Cycling Shorts,1199.0,479.0,Alisha Solid Women's Cycling Shorts,1197,542
13,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,990,479
15,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,995,434
21,Alisha Solid Women's Cycling Shorts,NaN,NaN,Alisha Solid Women's Cycling Shorts,-2,0

# Model-2

In [14]:
# Loding Flipkart dataset.

flp_df=pd.read_csv("D:\downlods/flipkart_com-ecommerce_sample.csv")

In [15]:
# Loding Amazon dataset.

amz_df=pd.read_csv("D:\downlods/amz_com-ecommerce_sample.csv",encoding = 'unicode_escape')

In [16]:
#definig a function 

def find(a):
    #finding all pid's related to the product name.
    req=flp_df[flp_df["product_name"] == a][["pid"]]
    
    #creating a list with pid's
    list=[]
    for i in req["pid"]:
        list.append(i)
        
    #creating a DataFrame with the pid's in List.
    flp = flp_df[flp_df["pid"].isin(list)]
    amz = amz_df[amz_df["pid"].isin(list)]
    
    #filtering the dataframe with required columns.
    flp = flp[["product_name","retail_price","discounted_price","pid"]]
    amz = amz[["product_name","retail_price","discounted_price","pid"]]
    
    #merging dataframes.
    df = flp.merge(amz,left_on = "pid",right_on = "pid",how = "left").drop("pid",axis = 1)
    
    #Renaming the column_headers
    df = df.rename(columns = {"product_name_x":"Product name in Flipkart","product_name_y":"Product name in Amazon",
                          "retail_price_x":"Retail Price in Flipkart","retail_price_y":"Retail Price in Amazon",
                                "discounted_price_x":"Discounted Price in Flipkart",
                          "discounted_price_y":"Discounted Price in Amazon"})  
    return df

In [17]:
#filtering the DataFrame with required product_name.

prod_name = input("enter a name : ")
find(prod_name)

enter a name : Alisha Solid Women's Cycling Shorts

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,982,438
1,Alisha Solid Women's Cycling Shorts,699.0,267.0,Alisha Solid Women's Cycling Shorts,694,325
2,Alisha Solid Women's Cycling Shorts,1199.0,479.0,Alisha Solid Women's Cycling Shorts,1198,602
3,Alisha Solid Women's Cycling Shorts,1199.0,479.0,Alisha Solid Women's Cycling Shorts,1197,542
4,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,990,479
5,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,995,434
6,Alisha Solid Women's Cycling Shorts,NaN,NaN,Alisha Solid Women's Cycling Shorts,-2,0

# Model-3

In [21]:
#Loading the flipkart DataFrame

flp_df = pd.read_csv("D:\downlods/flipkart_com-ecommerce_sample.csv")

In [22]:
#Loading the Amazon DataFrame

amz_df = pd.read_csv("D:\downlods/amz_com-ecommerce_sample.csv",encoding = 'unicode_escape')

defining Functions

In [23]:
# Defining the function for Prod_id

def find_id(a):
    
    flp = flp_df[flp_df["pid"] == a]
    amz = amz_df[amz_df["pid"] == a]
    
    #Slicing the dataframe
    flp = flp[["product_name","retail_price","discounted_price","pid"]]
    amz = amz[["product_name","retail_price","discounted_price","pid"]]
    
    #Merging the 2 DataFrames
    df = flp.merge(amz,left_on = "pid",right_on = "pid",how = "left").drop("pid",axis = 1)
    
    #renaming the column_headers
    df = df.rename(columns = {"product_name_x":"Product name in Flipkart","product_name_y":"Product name in Amazon",
                          "retail_price_x":"Retail Price in Flipkart","retail_price_y":"Retail Price in Amazon",
                                "discounted_price_x":"Discounted Price in Flipkart",
                          "discounted_price_y":"Discounted Price in Amazon"})  
    return df

In [24]:
#Defining the function for product_name.

def find_name(a):
    #Finding all pid's related to product name.
    req = flp_df[flp_df["product_name"] == a][["pid"]]
    list = []
    for i in req["pid"]:
        list.append(i)
        
    #creating a DataFrame with the pid's in List.
    flp = flp_df[flp_df["pid"].isin(list)]
    amz = amz_df[amz_df["pid"].isin(list)]
    
    #filtering the dataframe with required columns.
    flp = flp[["product_name","retail_price","discounted_price","pid"]]
    amz = amz[["product_name","retail_price","discounted_price","pid"]]
    
    #Merging the 2 DataFrames
    df = flp.merge(amz,left_on = "pid",right_on = "pid",how = "left").drop("pid",axis = 1)
    
    #renaming the column_headers
    df = df.rename(columns = {"product_name_x":"Product name in Flipkart", "product_name_y":"Product name in Amazon",
                          "retail_price_x":"Retail Price in Flipkart", "retail_price_y":"Retail Price in Amazon",
                                "discounted_price_x":"Discounted Price in Flipkart",
                          "discounted_price_y":"Discounted Price in Amazon"})  
    return df

                                 If you have a Product_Name Then press-1                                                                               
                                 If you have a product-id Then press-2

In [26]:
# Enter a number based on above Instructions

num = input("enter number")
if num =="1":
    
    #Enter product_name
    prod_name = input("enter name : ")
    result = find_name(prod_name)
    
elif num == "2":
    
    # Enter product_ID
    prod_ID = input("enter ID : ")
    result = find_id(prod_ID)
    
else:
    
    print("enter valid number")
    
result

enter number2
enter ID : SRTEH2FF9KEDEFGF

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,982,438

# Model-4

### This model uses the columns whose values are unique from prodoct to product.

                                                       [uniq_ID,product_url,pid,description,product_specifications]

In [27]:
flp_df = pd.read_csv("D:/downlods/flipkart_com-ecommerce_sample.csv")
flp_df.columns

Index(['uniq_id', 'crawl_timestamp', 'product_url', 'product_name',
       'product_category_tree', 'pid', 'retail_price', 'discounted_price',
       'image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'],
      dtype='object')

In [28]:
amz_df = pd.read_csv("D:/downlods/amz_com-ecommerce_sample.csv",encoding= 'unicode_escape')

In [29]:
def find_on(a,onn):
    
    flp = flp_df[flp_df[onn] == a]
    amz = amz_df[amz_df[onn] == a]
    
    #Slicing the dataframe
    flp = flp[["product_name","retail_price","discounted_price",onn]]
    amz = amz[["product_name","retail_price","discounted_price",onn]]
    
    #Merging the 2 DataFrames
    df = flp.merge(amz,left_on = onn ,right_on = onn ,how = "left").drop(onn,axis = 1)
    
    #renaming the column_headers
    df = df.rename(columns = {"product_name_x":"Product name in Flipkart","product_name_y":"Product name in Amazon",
                          "retail_price_x":"Retail Price in Flipkart","retail_price_y":"Retail Price in Amazon",
                                "discounted_price_x":"Discounted Price in Flipkart",
                          "discounted_price_y":"Discounted Price in Amazon"})  
    return df

In [31]:
columns = ["uniq_id","product_url","pid","description","product_specifications"]

In [33]:
onn = input("enter column name : ")

if onn in columns:
    print("\n enter valid ",onn,"value")
    a = input()
    result = find_on(a,onn)

else:
    print("column invalid : ")
    
result

enter column name : pid

 enter valid  pid value
SRTEH2FF9KEDEFGF

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Product name in Amazon,Retail Price in Amazon,Discounted Price in Amazon
0,Alisha Solid Women's Cycling Shorts,999.0,379.0,Alisha Solid Women's Cycling Shorts,982,438